@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: #c40c0c;
  /* Light gray background color */
  /* Add more functionality here */
  padding: 20px;
  /* Adds padding around the content */
  border-radius: 10px;
  /* Rounds the corners of the element */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */
  color: #333;
  /* Sets the text color to a dark gray */
  font-family: Arial, sans-serif;
  /* Sets the font family */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}